
<div class="container">
 
 <%# BUSCADOR %>
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group mt-4">
    <input class="form-control string required" type="text" name="" id="" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Buscar Trago
    </button>
  </div>
  </form>

  <%#VOLVER AL INICIOO  %>
  <%= link_to "Inicio",  cocktails_path, class: "btn btn-outline-dark mt-2 mb-2" %>
  
  
  <%# AGREGAR Bebida %>
  <%= link_to "Agregar trago",  new_cocktail_path, class: "btn btn-outline-dark " %>

  <%# IMAGEN PRINCIPAL %>
  <%= image_tag "https://i.pinimg.com/originals/fe/50/ea/fe50ea2c098f4560ba6c2a3e897c9d30.png", class: "img-fluid mx-auto d-block" %>
  
  
  <%# TODOS LOS TRAGOS %>
  <h6>All <%= @cocktails.count %> cocktails</h6>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-3 my-3">
        <div class="card-img-top">
          <%= image_tag "https://lalicorera.com/img/products/Jagermeister-mini-.png", class: "img-fluid" %>
          <h3><%= cocktail["name"] %></h3>
        </div>
        <div class="card-footer">
          <%# MAS INFO %>
          <%= link_to "Mas info", cocktail_path(cocktail["id"]), class: "btn btn-outline-dark" %>
          <%# DELETE %>
          <%= link_to "Delete", cocktail_path(cocktail["id"]), method: :delete , class: "btn btn-outline-danger" %>
        </div>
      </div>
    <% end %>
  </div>
  

  <%# FOOTER %>
  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/benjakunkel"><i class="fab fa-github" id="git"></i></a>
    <a href="https://www.instagram.com/benjakunkel/"><i class="fab fa-instagram" id="insta"></i></a>
    <a href="https://www.linkedin.com/in/benjamin-kunkel-3744a51a7/"><i class="fab fa-linkedin" id="link"></i></a>
  </div>

</div>
