
<div class="container">

<%# VOLVER AL INICOO %>
  <%= link_to "Inicio",  cocktails_path, class: "btn btn-outline-dark mt-3 mb-3 " %>

  <%# FORMULARIO %>
  <div class="form-group text-center">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name,  :label => "Ingresa tu pack:",placeholder:"Nombre del producto", class:"saraza" %>
      <%= f.input :photo, as: :file, class:"boton subir"  %>
      <%= f.submit "Agregar producto", class:"btn btn-dark" %>
    <% end %>
  </div>
</div>