<div class="container">
  <%#VOLVER AL INICIOO  %>
  <%= link_to "Inicio",  cocktails_path, class: "btn btn-outline-dark mt-3 mb-3" %>

  <%# agregar doseses %>
  <%= link_to "Agregar producto al pack",  new_cocktail_dose_path(@cocktail), class:"btn btn-outline-dark mt-3 mb-3" %>
<%# ADD REVIEW %>
  <%= link_to 'Agregar review', new_cocktail_review_path(@cocktail), class: "btn btn-outline-dark m-2" %>
  <%# INTENTO DE CARD %>
    <div class="card mb-3 mx-auto" style="max-width: 1000px;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fill, class: "img-fluid" %>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Contenido del pack</h5>
            <ul class="list-group">
              <% @cocktail.doses.each do |dose| %>
                <li class="list-group-item mb-3">
                <%= dose.description  %>
                <strong> <%= dose.ingredient.name  %> </strong>
                <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, class:"btn btn-danger btn-sm ml-4" %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
</div>
<div class="reviews">
  <h2 id="reviews">Reviews</h2>
  <ul class="nada">
  <% @cocktail.reviews.each do |review| %>
    <li class="list-group-item review-item"><%="â­"*review.rating %>  <%= review.content %></li>
  <% end %>
</ul>
  </div>

