<div class="container">
  <%#VOLVER AL INICIOO  %>
  <%= link_to "Inicio",  cocktails_path, class: "btn btn-outline-dark mt-3 mb-3" %>

  <%# agregar doseses %>
  <%= link_to "Agregar producto al pack",  new_cocktail_dose_path(@cocktail), class:"btn btn-outline-dark mt-3 mb-3" %>
<%# ADD REVIEW %>
  <%= link_to 'Agregar review', new_cocktail_review_path(@cocktail), class: "btn btn-outline-dark m-2" %>
  <%# INTENTO DE CARD %>
    <div class="card mb-3 mx-auto" style="max-width: 1000px;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <% if @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fill, class: "img-fluid" %>
        <% else %>
          <%= cl_image_tag "nodisponible", height: 300, width: 300, crop: :fill, class: "img-fluid" %>
        <% end %>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Contenido del pack</h5>
            <ul class="list-group">
              <% @cocktail.doses.each do |dose| %>
                <li class="list-group-item mb-3">
                <%= dose.description  %>
                <strong> <%= dose.ingredient.name  %> </strong>
                <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, class:"btn btn-danger btn-sm ml-4" %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
</div>
<div class="reviews">
  <h2 id="reviews">Reviews</h2>
  <ul class="nada">
  <% @cocktail.reviews.each do |review| %>
    <li class="list-group-item review-item"><%="â­"*review.rating %>  <%= review.content %></li>
  <% end %>
</ul>
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
  Agregar Review
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal"> Cancelar </button>
        <button type="button" class="btn btn-dark"> Agregar </button>
      </div>
    </div>
  </div>
</div>


















